
<div id="<%= dom_id egreso %>">
  
  <p>
    <strong>Documento:</strong>
    <%= egreso.documento %>
  </p>

  <p>
    <strong>Nro doc:</strong>
    <%= egreso.nro_doc %>
  </p>

  <p>
    <strong>Fecha emision:</strong>
    <%= egreso.fecha_emision %>
  </p>

  <p>
    <strong>Fecha pago:</strong>
    <%= egreso.fecha_pago %>
  </p>

  <p>
    <strong>Rut proveedor:</strong>
    <%= egreso.proveedor.rut_proveedor %>
  </p>

  <p>
    <strong>Monto egreso:</strong>
    <%= egreso.monto_egreso %>
  </p>

  <p>
    <strong>Tipo egreso:</strong>
    <%= egreso.tipo_egreso %>
  </p>
  
</div>

