<div id="<%= dom_id remuneracion %>">
  <p>
    <strong>Rut empleado:</strong>
    <%= remuneracion.empleado.rut_empleado %>
  </p>

  <p>
    <strong>Monto remuneracion:</strong>
    <%= remuneracion.monto_remun %>
  </p>

  <p>
    <strong>Imposiciones:</strong>
    <%= remuneracion.imposiciones %>
  </p>

  <p>
    <strong>Anticipo:</strong>
    <%= remuneracion.anticipo %>
  </p>

  <p>
    <strong>Impuesto unico:</strong>
    <%= remuneracion.impuesto_unic %>
  </p>

  <p>
    <strong>Tipo remuneracion:</strong>
    <%= remuneracion.tipo_remu %>
  </p>

  <p>
    <strong>Id remuneracion:</strong>
    <%= remuneracion.id_remuneracion %>
  </p>

  <p>
    <strong>Mes remuneracion:</strong>
    <%= remuneracion.mes_remuneracion %>
  </p>

</div>
