
<div id="<%= dom_id ingreso %>">
  <p>
    <strong>Documento:</strong>
    <%= ingreso.documento %>
  </p>

  <p>
    <strong>Nro doc:</strong>
    <%= ingreso.nro_doc %>
  </p>

  <p>
    <strong>Fecha emision:</strong>
    <%= ingreso.fecha_emision %>
  </p>

  <p>
    <strong>Fecha pago:</strong>
    <%= ingreso.fecha_pago %>
  </p>

  <p>
    <strong>Rut cliente:</strong>
    <%= ingreso.cliente.rut_cliente %>
  </p>

  <p>
    <strong>Monto ingreso:</strong>
    <%= ingreso.monto_ingreso %>
  </p>

  <p>
    <strong>Tipo ingreso:</strong>
    <%= ingreso.tipo_ingreso %>
  </p>

</div>
