<div id="<%= dom_id empleado %>">
  <p>
    <strong>Rut empleado:</strong>
    <%= empleado.rut_empleado %>
  </p>

  <p>
    <strong>Nombre empleado:</strong>
    <%= empleado.nombre_empleado %>
  </p>

 <!-- <p>
    <strong>Apellido empleado:</strong>
    <%= empleado.apellido_empleado %>
  </p> -->

  <p>
    <strong>Tipo empleado:</strong>
    <%= empleado.tipo_empleado %>
  </p>

</div>
