<%= form_with(model: empleado) do |form| %>
  <% if empleado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

      <ul>
        <% empleado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rut_empleado, style: "display: block" %>
    <%= form.text_field :rut_empleado %>
  </div>

  <div>
    <%= form.label :nombre_empleado, style: "display: block" %>
    <%= form.text_field :nombre_empleado %>
  </div>

  <div>
    <%= form.label :apellido_empleado, style: "display: block" %>
    <%= form.text_field :apellido_empleado %>
  </div>

  <div>
    <%= form.label :tipo_empleado, style: "display: block" %>
    <%= form.text_field :tipo_empleado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
